body {
    background: #123456 url(../pictures/test8.jpg) center center no-repeat;
  }
.alias h1{
    margin-top: 20px;
    padding-top: 20px;
    color: #FFFFFF;
    text-align: center;   
  }
  a.wearehere{
    color: #000000;
  }
  .unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
  }